.bg{
	top:0%;
	height:100%;
	width:100%;
	background-color:Blue;
background-image:url('Images/bg.jpg');
background-repeat:no-repeat;

background-size:cover;
position:fixed;
left:0%;
}

.content{
	
	position:absolute;
	height:100%;
	width:100%;
	-webkit-text-stroke:1px;
	-webkit-text-fill-color:rgb(255, 255, 255);
	-webkit-animation:fill 0.5s infinite alternate;
	top: 20%;
}
.top{
	height:20%;
	width:100%;
	background-color:rgb(68, 0, 255);
    top:0%;
    left:0%;   
	position:fixed;
}

ul#menu li{
    display: inline;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 35px;
}

p{                                      		
    -webkit-text-stroke:2px;
    -webkit-text-fill-color:rgb(255, 255, 255);
	text-align: center;
    -webkit-animation:fill 0.5s infinite alternate;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}  
p1{
    
    -webkit-text-stroke:2px;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-animation:fill 0.5s infinite alternate;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;     
    font-size: 30px;	
	text-align: center;

}
p2{                                      		
    -webkit-text-stroke:1px;
    -webkit-text-fill-color:rgb(0, 0, 0);
    -webkit-animation:fill 0.5s infinite alternate;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}
p3{                                      		
    -webkit-text-stroke:1px;
    -webkit-text-fill-color:rgb(5, 5, 5);
    -webkit-animation:fill 0.5s infinite alternate;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.cp{
	background-color: rgba(253, 253, 253, 0.432);
	border-style: groove;
	border-radius: 3px;
	width: 98%;
    text-align: justify;
    text-justify: inter-word;
}
.MS{
	background-color: rgba(253, 253, 253, 0.432);
	border-style: groove;
	border-radius: 3px;
	width: 98%;
    text-align: justify;
    text-justify: inter-word;

}
.VS{
	background-color: rgba(253, 253, 253, 0.432);
	border-style: groove;
	border-radius: 3px;
	width: 98%;
    text-align: justify;
    text-justify: inter-word;

}

.boadologo{
        top:5%;
        height:85%;
        width:9%;
       background-image: url("Images/Boado logo.jpg");
	   background-size: cover;
    position:absolute;
	left: 85%;
}

.hasdaqlogo{
    top:5%;
    height:85%;
    width:9%;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 72%;
position:absolute;
}
.kingblogo{
    top:5%;
    height:85%;
    width:9%;
	background-image: url("Images/king B logo.png");
	background-size: cover;
left: 59%;
position:absolute;
}




@media screen and (min-width: 1025px) {
	.top{
		height:120px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		overflow:hidden;
	}
    
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 30px;
	}
	.boadologo{
        top:5px;
        height:110px;
        width:110px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 85%;
    position:absolute;
    
}

.hasdaqlogo{
    top:5px;
    height:110px;   
    width:120px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 72%;
position:absolute;
}
.kingblogo{
    top:5px;
    height:110px;
    width:110px;
    background-image: url("Images/king B logo.png");
	background-size: cover;
left: 60%;
position:absolute;
}	
	p1{
		text-align: center;
	}
    .content{
	
		position:absolute;
		height:100%;
		width:100%;
		-webkit-text-stroke:1px;
		-webkit-text-fill-color:rgb(255, 255, 255);
		-webkit-animation:fill 0.5s infinite alternate;
		top: 120px;
	}
}
@media screen and (min-width: 961px) and (max-width:1024px) {

	.content{
	
	position:absolute;
	height:100%;
	width:100%;
	-webkit-text-stroke:1px;
	-webkit-text-fill-color:rgb(255, 255, 255);
	-webkit-animation:fill 0.5s infinite alternate;
	top: 120px;
}
	.top{
		height:120px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 25px;
	}
	.boadologo{
        top:5px;
        height:110px;
        width:110px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 85%;
    position:absolute;
}

.hasdaqlogo{
    top:5px;
    height:110px;   
    width:120px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 72%;
position:absolute;
}
.kingblogo{
    top:5px;
    height:110px;
    width:110px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 60%;
position:absolute;
}	

}

@media screen and (min-width: 641px) and (max-width:960px) {
    .content{
	
		position:absolute;
		height:100%;
		width:100%;
		-webkit-text-stroke:1px;
		-webkit-text-fill-color:rgb(255, 255, 255);
		-webkit-animation:fill 0.5s infinite alternate;
		top: 70px;
	}
	.top{
		height:75px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 18px;
	}
	.boadologo{
        top:10px;
        height:50px;
        width:50px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 90%;
    position:absolute;
}

.hasdaqlogo{
    top:10px;
    height:50px;   
    width:55px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 77%;
position:absolute;
}
.kingblogo{
    top:10px;
    height:50px;
    width:50px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 65%;
position:absolute;
}	


}

@media screen and (min-width: 481px) and (max-width:640px) {
	.top{
		height:75px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
    .content{
	
		position:absolute;
		height:100%;
		width:100%;
		-webkit-text-stroke:1px;
		-webkit-text-fill-color:rgb(255, 255, 255);
		-webkit-animation:fill 0.5s infinite alternate;
		top: 80px;
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 13px;
	}  
	.boadologo{
        top:10px;
        height:50px;
        width:50px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 90%;
    position:absolute;
}

.hasdaqlogo{
    top:10px;
    height:50px;   
    width:55px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 77%;
position:absolute;
}
.kingblogo{
    top:10px;
    height:50px;
    width:50px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 65%;
position:absolute;
}	    


}

@media screen and (min-width: 320px) and (max-width:480px) {

    .content{
	
		position:absolute;
		height:100%;
		width:100%;
		-webkit-text-stroke:1px;
		-webkit-text-fill-color:rgb(255, 255, 255);
		-webkit-animation:fill 0.5s infinite alternate;
		top: 120px;
	}
	.top{
		height:50px;
	width:100%;
	background-color:rgba(32, 0, 121    );
    top:0%;     
    left:0%;   
	position:absolute; 
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 15px;
	}
	.boadologo{
        top:70px;
        height:100px;
        width:100px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 70%;
    position:absolute;
}

.hasdaqlogo{
    top:70px;
    height:100px;   
    width:110px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 35%;
position:absolute;
}
.kingblogo{
    top:70px;
    height:100px;
    width:100px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 5%;
position:absolute;
}	


}