.bg{
	top:0%;
	height:100%;
	width:100%;
	background-color:Blue;
background-image:url('Images/bg.jpg');
background-repeat:no-repeat;

background-size:cover;
position:fixed;
left:0%;
}


.top{
	height:20%;
	width:100%;
	background-color:rgb(68, 0, 255);
    top:0%;
    left:0%;   
	position:fixed;
}

.boadologo{
    top:5%;
    height:85%;
    width:9%;
   background-image: url("Images/Boado logo.jpg");
   background-size: cover;
position:absolute;
left: 85%;
}

.hasdaqlogo{
top:5%;
height:85%;
width:9%;
background-image: url("Images/Hasdaq.PNG");
background-size: cover;
left: 72%;
position:absolute;
}
.kingblogo{
top:5%;
height:85%;
width:9%;
background-image: url("Images/king B logo.png");
background-size: cover;
left: 59%;
position:absolute;
}


.Content{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0,0.5);
	color:seashell;
	width: 98%;
	padding: 20px;
	
	
	}


@media screen and (min-width: 1025px) {
	.top{
		height:120px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		overflow:hidden;
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 30px;
	}    

	.boadologo{
        top:5px;
        height:110px;
        width:110px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 85%;
    position:absolute;
    
}

.hasdaqlogo{
    top:5px;
    height:110px;   
    width:120px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 72%;
position:absolute;
}
.kingblogo{
    top:5px;
    height:110px;
    width:110px;
    background-image: url("Images/king B logo.png");
	background-size: cover;
left: 60%;
position:absolute;
}	
.Content{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0,0.5);
	color:seashell;
	width: 98%;
	padding: 20px;
	font-size: 75px;
	
	}	
	.SDP{
		background-image: url("Images/SDP.jpg");
		background-size: 100% 100%;
		width: 98%;
		height: 800px;
		position: absolute;
		top: 140px;
	
	
	}

	.Content2{
		position: absolute;
		bottom: 0;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0,0.5);
		color:seashell;
		width: 98%;
		padding: 20px;
		font-size: 60px;
		
		}	
		.TV{
			background-image: url("Images/Tunnel Vent.jpg");
			background-size: 100% 100%;
			width: 98%;
			height: 800px;
			position: absolute;
			top: 980px;
		
		
		}
		.Content3{
			position: absolute;
			bottom: 0;
			background: rgb(0, 0, 0);
			background: rgba(0, 0, 0,0.5);
			color:seashell;
			width: 98%;
			padding: 20px;
			font-size: 75px;
			
			}	
			.BaH{
				background-image: url("Images/Hachery2.jpg");
				background-size: 100% 100%;
				width: 98%;
				height: 800px;
				position: absolute;
				top: 1820px;
			
			
			}
            .Content4{
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0,0.5);
                color:seashell;
                width: 98%;
                padding: 20px;
                font-size: 75px;
                
                }	
                .HDP{
                    background-image: url("Images/HDP.jpg");
                    background-size: 100% 100%;
                    width: 98%;
                    height: 800px;
                    position: absolute;
                    top: 2680px;
                
                
                }
                .Content5{
                    position: absolute;
                    bottom: 0;
                    background: rgb(0, 0, 0);
                    background: rgba(0, 0, 0,0.5);
                    color:seashell;
                    width: 98%;
                    padding: 20px;
                    font-size: 75px;
                    
                    }	
                    .RDP{
                        background-image: url("Images/DDressing plant.jpg");
                        background-size: 100% 100%;
                        width: 98%;
                        height: 800px;
                        position: absolute;
                        top: 3540px;
                    
                    
                    }
                    .Content6{
                        position: absolute;
                        bottom: 0;
                        background: rgb(0, 0, 0);
                        background: rgba(0, 0, 0,0.5);
                        color:seashell;
                        width: 98%;
                        padding: 20px;
                        font-size: 75px;
                        
                        }	
                        .admin{
                            background-image: url("Images/admin.PNG");
                            background-size: 100% 100%;
                            width: 98%;
                            height: 800px;
                            position: absolute;
                            top: 4400px;
                        
                        
                        }

                        .Content7{
                            position: absolute;
                            bottom: 0;
                            background: rgb(0, 0, 0);
                            background: rgba(0, 0, 0,0.5);
                            color:seashell;
                            width: 98%;
                            padding: 20px;
                            font-size: 75px;
                            
                            }	
                            .PP{
                                background-image: url("Images/POWERPLANT1.PNG");
                                background-size: 100% 100%;
                                width: 98%;
                                height: 800px;
                                position: absolute;
                                top: 5260px;
                            
                            
                            }
                            .Content8{
                                position: absolute;
                                bottom: 0;
                                background: rgb(0, 0, 0);
                                background: rgba(0, 0, 0,0.5);
                                color:seashell;
                                width: 98%;
                                padding: 20px;
                                font-size: 75px;
                                
                                }	
                                .Gate{
                                    background-image: url("Images/GATE1.jpg");
                                    background-size: 100% 100%;
                                    width: 98%;
                                    height: 800px;
                                    position: absolute;
                                    top: 6120px;
                                
                                
                                }
                                .Content9{
                                    position: absolute;
                                    bottom: 0;
                                    background: rgb(0, 0, 0);
                                    background: rgba(0, 0, 0,0.5);
                                    color:seashell;
                                    width: 98%;
                                    padding: 20px;
                                    font-size: 75px;
                                    
                                    }	
                                    .H1{
                                        background-image: url("Images/HOUSING.PNG");
                                        background-size: 100% 100%;
                                        width: 98%;
                                        height: 800px;
                                        position: absolute;
                                        top: 6980px;
                                    
                                    
                                    }
                                    .Content10{
                                        position: absolute;
                                        bottom: 0;
                                        background: rgb(0, 0, 0);
                                        background: rgba(0, 0, 0,0.5);
                                        color:seashell;
                                        width: 98%;
                                        padding: 20px;
                                        font-size: 75px;
                                        
                                        }	
                                        .H2{
                                            background-image: url("Images/HOUSING3.PNG");
                                            background-size: 100% 100%;
                                            width: 98%;
                                            height: 800px;
                                            position: absolute;
                                            top: 7860px;
                                        
                                        
                                        }


}
@media screen and (min-width: 961px) and (max-width:1024px) {
	.top{
		height:120px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 25px;
	}
	.boadologo{
        top:5px;
        height:110px;
        width:110px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 85%;
    position:absolute;
}

.hasdaqlogo{
    top:5px;
    height:110px;   
    width:120px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 72%;
position:absolute;
}
.kingblogo{
    top:5px;
    height:110px;
    width:110px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 60%;
position:absolute;
}	


	.SDP{
	background-image: url("Images/SDP.jpg");
	background-size: 100% 100%;
	width: 98%;
	height: 700px;
	position: absolute;
	top: 140px;


}

.Content{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0,0.5);
	color:seashell;
	width: 98%;
	padding: 20px;
	font-size: 60px;
	
	}
	.Content2{
		position: absolute;
		bottom: 0;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0,0.5);
		color:seashell;
		width: 98%;
		padding: 20px;
		font-size: 50px;
		
		}	
		.TV{
			background-image: url("Images/Tunnel Vent.jpg");
			background-size: 100% 100%;
			width: 98%;
			height: 700px;
			position: absolute;
			top: 880px;
		
		
		}
		.Content3{
			position: absolute;
			bottom: 0;
			background: rgb(0, 0, 0);
			background: rgba(0, 0, 0,0.5);
			color:seashell;
			width: 98%;
			padding: 20px;
			font-size: 60px;
			
			}	
			.BaH{
				background-image: url("Images/Hachery2.jpg");
				background-size: 100% 100%;
				width: 98%;
				height: 700px;
				position: absolute;
				top: 1620px;
			
			
			}
            .Content4{
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0,0.5);
                color:seashell;
                width: 98%;
                padding: 20px;
                font-size: 60px;
                
                }	
                .HDP{
                    background-image: url("Images/HDP.jpg");
                    background-size: 100% 100%;
                    width: 98%;
                    height: 700px;
                    position: absolute;
                    top: 2360px;
                
                
                }
                .Content5{
                    position: absolute;
                    bottom: 0;
                    background: rgb(0, 0, 0);
                    background: rgba(0, 0, 0,0.5);
                    color:seashell;
                    width: 98%;
                    padding: 20px;
                    font-size: 60px;
                    
                    }	
                    .RDP{
                        background-image: url("Images/DDressing plant.jpg");
                        background-size: 100% 100%;
                        width: 98%;
                        height: 700px;
                        position: absolute;
                        top: 3100px;
                    
                    
                    }
                    .Content6{
                        position: absolute;
                        bottom: 0;
                        background: rgb(0, 0, 0);
                        background: rgba(0, 0, 0,0.5);
                        color:seashell;
                        width: 98%;
                        padding: 20px;
                        font-size: 60px;
                        
                        }	
                        .admin{
                            background-image: url("Images/admin.PNG");
                            background-size: 100% 100%;
                            width: 98%;
                            height: 700px;
                            position: absolute;
                            top: 3840px;
                        
                        
                        }
                        .Content7{
                            position: absolute;
                            bottom: 0;
                            background: rgb(0, 0, 0);
                            background: rgba(0, 0, 0,0.5);
                            color:seashell;
                            width: 98%;
                            padding: 20px;
                            font-size: 60px;
                            
                            }	
                            .PP{
                                background-image: url("Images/POWERPLANT1.PNG");
                                background-size: 100% 100%;
                                width: 98%;
                                height: 700px;
                                position: absolute;
                                top: 4580px;
                            
                            
                            }

                            .Content8{
                                position: absolute;
                                bottom: 0;
                                background: rgb(0, 0, 0);
                                background: rgba(0, 0, 0,0.5);
                                color:seashell;
                                width: 98%;
                                padding: 20px;
                                font-size: 60px;
                                
                                }	
                                .Gate{
                                    background-image: url("Images/GATE1.jpg");
                                    background-size: 100% 100%;
                                    width: 98%;
                                    height: 700px;
                                    position: absolute;
                                    top: 5320px;
                                
                                
                                }
                                .Content9{
                                    position: absolute;
                                    bottom: 0;
                                    background: rgb(0, 0, 0);
                                    background: rgba(0, 0, 0,0.5);
                                    color:seashell;
                                    width: 98%;
                                    padding: 20px;
                                    font-size: 60px;
                                    
                                    }	
                                    .H1{
                                        background-image: url("Images/HOUSING.PNG");
                                        background-size: 100% 100%;
                                        width: 98%;
                                        height: 700px;
                                        position: absolute;
                                        top: 6060px;
                                    
                                    
                                    }
                                    .Content10{
                                        position: absolute;
                                        bottom: 0;
                                        background: rgb(0, 0, 0);
                                        background: rgba(0, 0, 0,0.5);
                                        color:seashell;
                                        width: 98%;
                                        padding: 20px;
                                        font-size: 60px;
                                        
                                        }	
                                        .H2{
                                            background-image: url("Images/HOUSING3.PNG");
                                            background-size: 100% 100%;
                                            width: 98%;
                                            height: 700px;
                                            position: absolute;
                                            top: 6800px;
                                        
                                        
                                        }
        
    

}

@media screen and (min-width: 641px) and (max-width:960px) {
	.top{   
		height:75px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 18px;
	}
	.boadologo{
        top:10px;
        height:50px;
        width:50px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 90%;
    position:absolute;
}

.hasdaqlogo{
    top:10px;
    height:50px;   
    width:55px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 77%;
position:absolute;
}
.kingblogo{
    top:10px;
    height:50px;
    width:50px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 65%;
position:absolute;
}	
.SDP{
	background-image: url("Images/SDP.jpg");
	background-size: 100% 100%;
	width: 98%;
	height: 525px;
	position: absolute;
	top: 100px;


}
.Content{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0,0.5);
	color:seashell;
	width: 98%;
	padding: 20px;
	font-size: 50px;
	
	}

	.Content2{
		position: absolute;
		bottom: 0;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0,0.5);
		color:seashell;
		width: 98%;
		padding: 20px;
		font-size: 40px;
		
		}	
		.TV{
			background-image: url("Images/Tunnel Vent.jpg");
			background-size: 100% 100%;
			width: 98%;
			height: 525px;
			position: absolute;
			top: 640px;
		
		
		}
		.Content3{
			position: absolute;
			bottom: 0;
			background: rgb(0, 0, 0);
			background: rgba(0, 0, 0,0.5);
			color:seashell;
			width: 98%;
			padding: 20px;
			font-size: 50px;
			
			}	
			.BaH{
				background-image: url("Images/Hachery2.jpg");
				background-size: 100% 100%;
				width: 98%;
				height: 525px;
				position: absolute;
				top: 1180px;
			
			
			}
            .Content4{
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0,0.5);
                color:seashell;
                width: 98%;
                padding: 20px;
                font-size: 50px;
                
                }	
                .HDP{
                    background-image: url("Images/HDP.jpg");
                    background-size: 100% 100%;
                    width: 98%;
                    height: 525px;
                    position: absolute;
                    top: 1720px;
                
                
                }

                .Content5{
                    position: absolute;
                    bottom: 0;
                    background: rgb(0, 0, 0);
                    background: rgba(0, 0, 0,0.5);
                    color:seashell;
                    width: 98%;
                    padding: 20px;
                    font-size: 50px;
                    
                    }	
                    .RDP{
                        background-image: url("Images/DDressing plant.jpg");
                        background-size: 100% 100%;
                        width: 98%;
                        height: 525px;
                        position: absolute;
                        top: 2260px;
                    
                    
                    }

                    .Content6{
                        position: absolute;
                        bottom: 0;
                        background: rgb(0, 0, 0);
                        background: rgba(0, 0, 0,0.5);
                        color:seashell;
                        width: 98%;
                        padding: 20px;
                        font-size: 50px;
                        
                        }	
                        .admin{
                            background-image: url("Images/admin.PNG");
                            background-size: 100% 100%;
                            width: 98%;
                            height: 525px;
                            position: absolute;
                            top: 2800px;
                        
                        
                        }
                        .Content7{
                            position: absolute;
                            bottom: 0;
                            background: rgb(0, 0, 0);
                            background: rgba(0, 0, 0,0.5);
                            color:seashell;
                            width: 98%;
                            padding: 20px;
                            font-size: 50px;
                            
                            }	
                            .PP{
                                background-image: url("Images/POWERPLANT1.PNG");
                                background-size: 100% 100%;
                                width: 98%;
                                height: 525px;
                                position: absolute;
                                top: 3340px;
                            
                            
                            }
                            .Content8{
                                position: absolute;
                                bottom: 0;
                                background: rgb(0, 0, 0);
                                background: rgba(0, 0, 0,0.5);
                                color:seashell;
                                width: 98%;
                                padding: 20px;
                                font-size: 50px;
                                
                                }	
                                .Gate{
                                    background-image: url("Images/GATE1.jpg");
                                    background-size: 100% 100%;
                                    width: 98%;
                                    height: 525px;
                                    position: absolute;
                                    top: 3880px;    
                                
                                
                                }

                                .Content9{
                                    position: absolute;
                                    bottom: 0;
                                    background: rgb(0, 0, 0);
                                    background: rgba(0, 0, 0,0.5);
                                    color:seashell;
                                    width: 98%;
                                    padding: 20px;
                                    font-size: 50px;
                                    
                                    }	
                                    .H1{
                                        background-image: url("Images/HOUSING.PNG");
                                        background-size: 100% 100%;
                                        width: 98%;
                                        height: 525px;
                                        position: absolute;
                                        top: 4420px;
                                    
                                    
                                    }
                                    .Content10{
                                        position: absolute;
                                        bottom: 0;
                                        background: rgb(0, 0, 0);
                                        background: rgba(0, 0, 0,0.5);
                                        color:seashell;
                                        width: 98%;
                                        padding: 20px;
                                        font-size: 50px;
                                        
                                        }	
                                        .H2{
                                            background-image: url("Images/HOUSING3.PNG");
                                            background-size: 100% 100%;
                                            width: 98%;
                                            height: 525px;
                                            position: absolute;
                                            top: 4960px;
                                        
                                        
                                        }



                             
                

}

@media screen and (min-width: 481px) and (max-width:640px) {
	.top{
		height:75px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 13px;
	}
	.boadologo{
        top:10px;
        height:50px;
        width:50px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 90%;
    position:absolute;
}

.hasdaqlogo{
    top:10px;
    height:50px;   
    width:55px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 77%;
position:absolute;
}
.kingblogo{
    top:10px;
    height:50px;
    width:50px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 65%;
position:absolute;
}
.SDP{
	background-image: url("Images/SDP.jpg");
	background-size: 100% 100%;
	width: 98%;
	height: 400px;
	position: absolute;
	top: 100px;


}	    
.Content{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0,0.5);
	color:seashell;
	width: 100%;
	padding: 20px;
	font-size: 30px;
	
	}

	.Content2{
		position: absolute;
		bottom: 0;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0,0.5);
		color:seashell;
		width: 98%;
		padding: 20px;
		font-size: 20px;
		
		}	
		.TV{
			background-image: url("Images/Tunnel Vent.jpg");
			background-size: 100% 100%;
			width: 98%;
			height: 400px;
			position: absolute;
			top: 540px;
		
		
		}

		.Content3{
			position: absolute;
			bottom: 0;
			background: rgb(0, 0, 0);
			background: rgba(0, 0, 0,0.5);
			color:seashell;
			width: 98%;
			padding: 20px;
			font-size: 30px;
			
			}	
			.BaH{
				background-image: url("Images/Hachery2.jpg");
				background-size: 100% 100%;
				width: 98%;
				height: 400;
				position: absolute;
				top: 980px;
			
			
			}

            .Content4{
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0,0.5);
                color:seashell;
                width: 98%;
                padding: 20px;
                font-size: 30px;
                
                }	
                .HDP{
                    background-image: url("Images/HDP.jpg");
                    background-size: 100% 100%;
                    width: 98%;
                    height: 400;
                    position: absolute;
                    top: 1420px;
                
                
                }
                .Content5{
                    position: absolute;
                    bottom: 0;
                    background: rgb(0, 0, 0);
                    background: rgba(0, 0, 0,0.5);
                    color:seashell;
                    width: 98%;
                    padding: 20px;
                    font-size: 30px;
                    
                    }	
                    .RDP{
                        background-image: url("Images/DDressing plant.jpg");
                        background-size: 100% 100%;
                        width: 98%;
                        height: 400px;
                        position: absolute;
                        top: 1860px;
                    
                    
                    }
                    .Content6{
                        position: absolute;
                        bottom: 0;
                        background: rgb(0, 0, 0);
                        background: rgba(0, 0, 0,0.5);
                        color:seashell;
                        width: 98%;
                        padding: 20px;
                        font-size: 30px;
                        
                        }	
                        .admin{
                            background-image: url("Images/admin.PNG");
                            background-size: 100% 100%;
                            width: 98%;
                            height: 400px;
                            position: absolute;
                            top: 2300px;
                        
                        
                        }
                        .Content7{
                            position: absolute;
                            bottom: 0;
                            background: rgb(0, 0, 0);
                            background: rgba(0, 0, 0,0.5);
                            color:seashell;
                            width: 98%;
                            padding: 20px;
                            font-size: 30px;
                            
                            }	
                            .PP{
                                background-image: url("Images/POWERPLANT1.PNG");
                                background-size: 100% 100%;
                                width: 98%;
                                height: 400px;
                                position: absolute;
                                top: 2740px;        
                            
                                
                            }

                            .Content8{
                                position: absolute;
                                bottom: 0;
                                background: rgb(0, 0, 0);
                                background: rgba(0, 0, 0,0.5);
                                color:seashell;
                                width: 98%;
                                padding: 20px;
                                font-size: 30px;
                                
                                }	
                                .Gate{
                                    background-image: url("Images/GATE1.jpg");
                                    background-size: 100% 100%;
                                    width: 98%;
                                    height: 400px;
                                    position: absolute;
                                    top: 3180px;    
                                }
                                .Content9{
                                    position: absolute;
                                    bottom: 0;
                                    background: rgb(0, 0, 0);
                                    background: rgba(0, 0, 0,0.5);
                                    color:seashell;
                                    width: 98%;
                                    padding: 20px;
                                    font-size: 30px;
                                    
                                    }	
                                    .H1{
                                        background-image: url("Images/HOUSING.PNG");
                                        background-size: 100% 100%;
                                        width: 98%;
                                        height: 400px;
                                        position: absolute;
                                        top: 3620px;    
                                    }
                                    .Content10{
                                        position: absolute;
                                        bottom: 0;
                                        background: rgb(0, 0, 0);
                                        background: rgba(0, 0, 0,0.5);
                                        color:seashell;
                                        width: 98%;
                                        padding: 20px;
                                        font-size: 30px;
                                        
                                        }	
                                        .H2{
                                            background-image: url("Images/HOUSING3.PNG");
                                            background-size: 100% 100%;
                                            width: 98%;
                                            height: 400px;
                                            position: absolute;
                                            top: 4060px;    
                                        }
    

}

@media screen and (min-width: 320px) and (max-width:480px) {
	.top{
		height:50px;
	width:100%;
	background-color:rgba(32, 0, 121    );
    top:0%;     
    left:0%;   
	position:absolute; 
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 15px;
	}
	.boadologo{
        top:70px;
        height:100px;
        width:100px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 70%;
    position:absolute;
}

.hasdaqlogo{
    top:70px;
    height:100px;   
    width:110px;
	background-image:   url("Images/Hasdaq.PNG");
	background-size: cover;
left: 35%;
position:absolute;
}
.kingblogo{
    top:70px;
    height:100px;
    width:100px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 5%;
position:absolute;
}	
.SDP{
	background-image: url("Images/SDP.jpg");
	background-size: 100% 100%;
	width: 98%;
	height: 300px;
	position: absolute;
	top: 180px;


}

.Content{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0,0.5);
	color:seashell;
	width: 100%;
	padding: 20px;
	font-size: 20px;
	
	}

	.SDP{
	background-image: url("Images/SDP.jpg");
	background-size: 100% 100%;
	width: 98%;
	height: 300px;
	position: absolute;
	top: 180px;


}

.Content{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0,0.5);
	color:seashell;
	width: 100%;
	padding: 20px;
	font-size: 20px;
	
	}
	.Content2{
		position: absolute;
		bottom: 0;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0,0.5);
		color:seashell;
		width: 98%;
		padding: 20px;
		font-size: 20px;
		
		}	
		.TV{
			background-image: url("Images/Tunnel Vent.jpg");
			background-size: 100% 100%;
			width: 98%;
			height: 300px;
			position: absolute;
			top: 500px;
		
		
		}

		.Content3{
			position: absolute;
			bottom: 0;
			background: rgb(0, 0, 0);
			background: rgba(0, 0, 0,0.5);
			color:seashell;
			width: 98%;
			padding: 20px;
			font-size: 20px;
			
			}	
			.BaH{
				background-image: url("Images/Hachery2.jpg");
				background-size: 100% 100%;
				width: 98%;
				height: 300px;
				position: absolute;
				top: 820px;
			
			
			}

            .Content4{
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0,0.5);
                color:seashell;
                width: 98%;
                padding: 20px;
                font-size: 20px;
                
                }	
                .HDP{
                    background-image: url("Images/HDP.jpg");
                    background-size: 100% 100%;
                    width: 98%;
                    height: 300px;
                    position: absolute;
                    top: 1140px;
                
                
                }

                .Content5{
                    position: absolute;
                    bottom: 0;
                    background: rgb(0, 0, 0);
                    background: rgba(0, 0, 0,0.5);
                    color:seashell;
                    width: 98%;
                    padding: 20px;
                    font-size: 20px;
                    
                    }	
                    .RDP{
                        background-image: url("Images/DDressing plant.jpg");
                        background-size: 100% 100%;
                        width: 98%;
                        height: 300px;
                        position: absolute;
                        top: 1460px;
                    
                    
                    }
                    .Content6{
                        position: absolute;
                        bottom: 0;
                        background: rgb(0, 0, 0);
                        background: rgba(0, 0, 0,0.5);
                        color:seashell;
                        width: 98%;
                        padding: 20px;
                        font-size: 20px;
                        
                        }	
                        .admin{
                            background-image: url("Images/admin.PNG");
                            background-size: 100% 100%;
                            width: 98%;
                            height: 300px;
                            position: absolute;
                            top: 1780px;
                        
                        
                        }
                        .Content7{
                            position: absolute;
                            bottom: 0;
                            background: rgb(0, 0, 0);
                            background: rgba(0, 0, 0,0.5);
                            color:seashell;
                            width: 98%;
                            padding: 20px;
                            font-size: 20px;
                            
                            }	
                            .PP{
                                background-image: url("Images/POWERPLANT1.PNG");
                                background-size: 100% 100%;
                                width: 98%;
                                height: 300px;
                                position: absolute;
                                top: 2100px;
                            
                            
                            }
                            .Content8{
                                position: absolute;
                                bottom: 0;
                                background: rgb(0, 0, 0);
                                background: rgba(0, 0, 0,0.5);
                                color:seashell;
                                width: 98%;
                                padding: 20px;
                                font-size: 20px;
                                
                                }	
                                .Gate{
                                    background-image: url("Images/GATE1.jpg");
                                    background-size: 100% 100%;
                                    width: 98%;
                                    height: 300px;
                                    position: absolute;
                                    top: 2420px;
                                
                                
                                }
                                .Content9{
                                    position: absolute;
                                    bottom: 0;
                                    background: rgb(0, 0, 0);
                                    background: rgba(0, 0, 0,0.5);
                                    color:seashell;
                                    width: 98%;
                                    padding: 20px;
                                    font-size: 20px;
                                    
                                    }	
                                    .H1{
                                        background-image: url("Images/HOUSING.PNG");
                                        background-size: 100% 100%;
                                        width: 98%;
                                        height: 300px;
                                        position: absolute;
                                        top: 2740px;
                                    
                                    
                                    }
                                    .Content10{
                                        position: absolute;
                                        bottom: 0;
                                        background: rgb(0, 0, 0);
                                        background: rgba(0, 0, 0,0.5);
                                        color:seashell;
                                        width: 98%;
                                        padding: 20px;
                                        font-size: 20px;
                                        
                                        }	
                                        .H2{
                                            background-image: url("Images/HOUSING.PNG");
                                            background-size: 100% 100%;
                                            width: 98%;
                                            height: 300px;
                                            position: absolute;
                                            top: 3060px;
                                            
                                        
                                        }
}