.bg{
	top:0%;
	height:100%;
	width:100%;
	background-color:Blue;
background-image:url('Images/bg.jpg');
background-repeat:no-repeat;

background-size:cover;
position:fixed;
left:0%;
}
        

.top{
	height:20%;
	width:100%;
	background-color:rgb(68, 0, 255);
    top:0%;
    left:0%;   
	position:fixed;
}

@media screen and (min-width: 1025px) {
	.top{
		height:120px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		overflow:hidden;
	}
    
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 30px;
	}
	.boadologo{
        top:5px;
        height:110px;
        width:110px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 85%;
    position:absolute;
    
}

.hasdaqlogo{
    top:5px;
    height:110px;   
    width:120px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 72%;
position:absolute;
}
.kingblogo{
    top:5px;
    height:110px;
    width:110px;
    background-image: url("Images/king B logo.png");
	background-size: cover;
left: 60%;
position:absolute;
}	
.Frame{
width: 100%;
position: absolute;

top:150px;

}
.One{
    background-image: url("Images/TWG/1.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:40%;
    border-style: groove;
border-radius: 3px;


}
.Content1{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}

.Two{
    background-image: url("Images/TWG/f.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:10%;
    border-style: groove;
border-radius: 3px;
top:500px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}
.Three{
    background-image: url("Images/TWG/jay.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:70%;
    border-style: groove;
border-radius: 3px;
top:500px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}		
.Four{
    background-image: url("Images/TWG/jayson.jpg");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:10%;
    border-style: groove;
border-radius: 3px;
top:850px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}
.Five{
    background-image: url("Images/TWG/TJ.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:70%;
    border-style: groove;
border-radius: 3px;
top:850px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}

.Six{
    background-image: url("Images/TWG/2.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:40%;
    border-style: groove;
border-radius: 3px;
top:1250px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}


  p{
    font-size: 15px;
    
   color:seashell;
  }
  p2{                                      		
    -webkit-text-stroke:2px;
    -webkit-text-fill-color:rgb(255, 255, 255);
	text-align: center;
    -webkit-animation:fill 0.5s infinite alternate;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}    
}
@media screen and (min-width: 961px) and (max-width:1024px) {
	.top{
		height:120px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 25px;
	}
	.boadologo{
        top:5px;
        height:110px;
        width:110px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 85%;
    position:absolute;
}

.hasdaqlogo{
    top:5px;
    height:110px;   
    width:120px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 72%;
position:absolute;
}
.kingblogo{
    top:5px;
    height:110px;
    width:110px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 60%;
position:absolute;
}

.Frame{
    width: 100%;
    position: absolute;
    
    top:150px;
    
    }   
.One{
    background-image: url("Images/TWG/1.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:40%;
    border-style: groove;
border-radius: 3px;


}
.Content1{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}

.Two{
    background-image: url("Images/TWG/f.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:10%;
    border-style: groove;
border-radius: 3px;
top:500px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}
.Three{
    background-image: url("Images/TWG/jay.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:70%;
    border-style: groove;
border-radius: 3px;
top:500px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}		
.Four{
    background-image: url("Images/TWG/jayson.jpg");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:10%;
    border-style: groove;
border-radius: 3px;
top:850px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}
.Five{
    background-image: url("Images/TWG/TJ.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:70%;
    border-style: groove;
border-radius: 3px;
top:850px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}

.Six{
    background-image: url("Images/TWG/2.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:40%;
    border-style: groove;
border-radius: 3px;
top:1250px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}


  p{
    font-size: 15px;
    
   color:seashell;          
  }
  p2{                                      		
    -webkit-text-stroke:2px;
    -webkit-text-fill-color:rgb(255, 255, 255);
	text-align: center;
    -webkit-animation:fill 0.5s infinite alternate;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}    

}

@media screen and (min-width: 641px) and (max-width:960px) {
	.top{
		height:75px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 18px;
	}
	.boadologo{
        top:10px;
        height:50px;
        width:50px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 90%;
    position:absolute;
}

.hasdaqlogo{
    top:10px;
    height:50px;   
    width:55px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 77%;
position:absolute;
}
.kingblogo{
    top:10px;
    height:50px;
    width:50px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 65%;
position:absolute;
}	
.Frame{
    width: 100%;
    position: absolute;
    
    top:100px;
    
    }   
.One{
    background-image: url("Images/TWG/1.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:35%;
    border-style: groove;
border-radius: 3px;


}
.Content1{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}

.Two{
    background-image: url("Images/TWG/f.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:5%;
    border-style: groove;
border-radius: 3px;
top:500px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}
.Three{
    background-image: url("Images/TWG/jay.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:65%;
    border-style: groove;
border-radius: 3px;
top:500px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}		
.Four{
    background-image: url("Images/TWG/jayson.jpg");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:5%;
    border-style: groove;
border-radius: 3px;
top:850px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}
.Five{
    background-image: url("Images/TWG/TJ.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:65%;
    border-style: groove;
border-radius: 3px;
top:850px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}

.Six{
    background-image: url("Images/TWG/2.png");
	background-size: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    left:35%;
    border-style: groove;
border-radius: 3px;
top:1250px;

}
.Content2{

    position: absolute;
    top:250px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 250px;
   
   font-size: 20px;
}


  p{
    font-size: 15px;
    
   color:seashell;          
  }
  p2{                                      		
    -webkit-text-stroke:2px;
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-animation:fill 0.5s infinite alternate;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}    

}

@media screen and (min-width: 481px) and (max-width:640px) {
	.top{
		height:75px;
	width:100%;
	background-color:rgba(32, 0, 121);
    top:0%;
    left:0%;   
	position:fixed;
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 13px;
	}  
	.boadologo{
        top:10px;
        height:50px;
        width:50px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 90%;
    position:absolute;
}

.hasdaqlogo{
    top:10px;
    height:50px;   
    width:55px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 77%;
position:absolute;
}
.kingblogo{
    top:10px;
    height:50px;
    width:50px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 65%;
position:absolute;
}	

.Frame{
    width: 100%;
    position: absolute;
    
    top:100px;
    
    }   
.One{
    background-image: url("Images/TWG/1.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:30%;
    border-style: groove;
border-radius:3px;


}
.Content1{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}

.Two{
    background-image: url("Images/TWG/f.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:2%;
    border-style: groove;
border-radius: 3px;
top:450px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}
.Three{
    background-image: url("Images/TWG/jay.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:55%;
    border-style: groove;
border-radius: 3px;
top:450px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}		
.Four{
    background-image: url("Images/TWG/jayson.jpg");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:2%;
    border-style: groove;
border-radius: 3px;
top:750px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}
.Five{
    background-image: url("Images/TWG/TJ.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:55%;
    border-style: groove;
border-radius: 3px;
top:750px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}

.Six{
    background-image: url("Images/TWG/2.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:30%;
    border-style: groove;
border-radius: 3px;
top:1050px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}


  p{
    font-size: 13px;
    
   color:rgb(204, 170, 146);          
  }
  p2{                                      		
    -webkit-text-stroke:2px;
    -webkit-text-fill-color:rgb(255, 255, 255);
	text-align: center;
    -webkit-animation:fill 0.5s infinite alternate;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}    


}

@media screen and (min-width: 320px) and (max-width:480px) {
	.top{
		height:50px;
	width:100%;
	background-color:rgba(32, 0, 121    );
    top:0%;     
    left:0%;   
	position:absolute; 
		
	}
	ul#menu li{
		display: inline;
		font-family:Georgia, 'Times New Roman', Times, serif;
		color: aliceblue;
		font-size: 15px;
	}
	.boadologo{
        top:70px;
        height:100px;
        width:100px;
		background-image: url("Images/Boado logo.jpg");
	background-size: cover; 
   
    left: 70%;
    position:absolute;
}

.hasdaqlogo{
    top:70px;
    height:100px;   
    width:110px;
	background-image: url("Images/Hasdaq.PNG");
	background-size: cover;
left: 35%;
position:absolute;
}
.kingblogo{
    top:70px;
    height:100px;
    width:100px;
    background-image:url("Images/king B logo.png");
	background-size: cover;
left: 5%;
position:absolute;
}	
.Frame{
    width: 100%;
    position: absolute;
    
    top:200px;
    
    }   
.One{
    background-image: url("Images/TWG/1.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:25%;
    border-style: groove;
border-radius:3px;


}
.Content1{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}

.Two{
    background-image: url("Images/TWG/f.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:25%;    
    border-style: groove;
border-radius: 3px;
top:350px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}
.Three{
    background-image: url("Images/TWG/jay.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:25%;
    border-style: groove;
border-radius: 3px;
top:650px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}		
.Four{
    background-image: url("Images/TWG/jayson.jpg");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:25%;
    border-style: groove;
border-radius: 3px;
top:950px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}
.Five{
    background-image: url("Images/TWG/TJ.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:25%;
    border-style: groove;
border-radius: 3px;
top:1250px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}

.Six{
    background-image: url("Images/TWG/2.png");
	background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    left:25%;
    border-style: groove;
border-radius: 3px;
top:1550px;

}
.Content2{

    position: absolute;
    top:200px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
   color:seashell;
   width: 200px;
   
   font-size: 16px;
}


  p{
    font-size: 13px;
    
   color:rgb(204, 170, 146);          
  }
  p2{                                      		
    -webkit-text-stroke:2px;
    -webkit-text-fill-color:rgb(255, 255, 255);
	text-align: center;
    -webkit-animation:fill 0.5s infinite alternate;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}    

}